@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
html{color:#FFFFFF; overflow:-moz-scrollbars-vertical ; font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:none}
body,button,input,select,textarea{font: 14px/1.667 "Microsoft Yahei", "Helvetica Neue","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;word-break: break-all;} 
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
em, i{font-style:normal}
ul,ol{list-style:none}
a{text-decoration:none; outline:none; color:#FFFFFF; -webkit-tap-highlight-color:rgba(255,255,255,0);}
a:hover{text-decoration:none;}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%; border:none 0; outline:none; -webkit-appearance: none;}
table{border-collapse:collapse;border-spacing:0;}
th, td{text-align: left;}
img{-ms-interpolation-mode:bicubic; vertical-align:top; border:0}
textarea{resize:vertical; resize:none;}
input:focus,textarea:focus{ outline:none;}
input:-moz-placeholder , textarea:-moz-placeholder , select:-moz-placeholder{ color:#666666;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder , select:-ms-input-placeholder{ color:#666666;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder , select::-webkit-input-placeholder{ color:#666666;}
.clearfix:after{content:"";display:block;clear:both}.clearfix{zoom:1}

body{
	background: #00002E;
}
.wrap {
    width: 640px;
    margin: 0 auto;
    padding: 15px 0 70px;
    text-align: center;
    position: relative;
    background: #00002E url(../images/r-bg.jpg) center top no-repeat;
}
.r-logo{
	padding: 0 30px;
	text-align: left;
}
.lucyBox{
	margin: 420px auto 65px;
	background: url(../images/lucyRotateBg.png) center top no-repeat;
	position: relative;
	padding-top: 30px;
}
.lucyRotate{
	width: 464px;
	height: 464px;
	margin-left:95px;
	position: relative;
}
.rotatePointer{
	position: absolute;
	left: 132px;
	top: 132px;
	width: 200px;
	height: 200px;
	z-index: 2;
	outline: none;
	overflow: hidden;
}
#rotatePointer{
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	z-index: 100;
}
.lucyInfroHandle{
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
	padding: 0 35px;
	color: #FFFFFF;
	font-size: 24px;
}
.lucyInfroHandle p{
	display: inline;
	float: left;
	line-height: 38px;
}
.lucyInfroHandle p span{
	display: inline-block;
	width: 38px;
	height: 38px;
	font-size: 35px;
	color: #FF392F;
	text-align: center;
	background: url(../images/icon.png) -60px -36px no-repeat;
}
.lucyInfroHandle a.seePrise{
	display: inline;
	float: right;
	width: 130px;
	height: 52px;
	background: url(../images/icon.png) 0px -76px no-repeat;
	margin:0 20px;
	text-indent: -9999px;
}
h3.prizeNote{
	width: 578px;
	height: 68px;
	border: 1px solid #00A8DE;
	text-align: center;
	line-height: 70px;
	color: #00A8DE;
	font-size: 33px;
	border-radius: 4px;
	margin: 0 auto;
}
.luckRank{
	width: 580px;
	margin: 60px auto 0;
}
h3.commonTitle{
	height: 85px;
	line-height: 85px;
	color: #FFF;
	font-size: 33px;
	background: url(../images/r-titleBg.png) center center no-repeat;
}
ul.rankList{
	background: #002458;
	border-radius: 6px;
	padding: 8px 15px;
	margin-top: 8px;
}
ul.rankList li{
	display: inline-block;
	margin-bottom: 8px;
	background: #FFF;
	border-radius: 4px;
	font-size: 20px;
	color: #000000;
	padding: 6px 16px;
	overflow: hidden;
	line-height: 62px;
}
ul.rankList li:last-child{
	margin-bottom: 0px;
}
ul.rankList .defaultPhoto{
	width: 62px;
	height: 62px;
	display: inline;
	float: left;
	border-radius: 50%;
}
ul.rankList h4{
	display: inline;
	float: left;
	margin:0 15px;
	width: 160px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
ul.rankList p{
	display: inline;
	float: left;
	width: 266px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	text-align: right;
}
.gameRule{
	width: 580px;
	margin: 60px auto 0;
}
dl.ruleList{
	background: #002458;
	border-radius: 6px;
	padding: 26px 40px 26px 60px;
	margin-top: 24px;
	text-align: left;
}
dl.ruleList dd,
dl.ruleList dt{
	position: relative;
	margin-bottom: 16px;
	font-size: 18px;
}
dl.ruleList h4{
	font-size: 21px;
}
dl.ruleList p{
	font-size: 18px;
}
dl.ruleList dd i{
	display: block;
	width: 24px;
	height: 24px;
	background: url(../images/icon.png) 0 0 no-repeat;
	position: absolute;
	left: -35px;
	top: 8px;
}
dl.ruleList dd:last-child{
	margin-bottom: 0px;
}
/*活动结束*/
h3.gameEnd{
	font-size: 33px;
	margin-top: 670px;
}
/*奖品说明*/
.priseNotePart{
	width: 580px;
	margin: 490px auto 0;
}
ul.priseList{
	background: #002458;
	border-radius: 6px;
	padding:15px;
	margin-top: 24px;
}
ul.priseList li{
	margin-bottom: 15px;
	background: #FFF;
	border-radius: 6px;
	font-size: 18px;
	text-align: left;
	color: #686866;
	padding: 8px 25px 30px 25px;
	position: relative;
}
ul.priseList li:last-child{
	margin-bottom: 0px;
}
h4.priseTitle{
	font-size: 28px;
	color: #FF431D;
}
ul.priseList .priseImg{
	border: 1px solid #1DA7DF;
	border-radius: 6px;
	margin: 10px 0;
	text-align: center;
	overflow: hidden;
}
ul.priseList .priseImg img{
	max-width: 100%;
}
ul.priseList p a{
	color: #686866;
}
ul.priseList a.handle{
	position: absolute;
	right: 25px;
	top: 10px;
	width: 24px;
	height: 24px;
	background: url(../images/icon.png);
}
ul.priseList a.plus{
	background-position: 0 -24px;
}
ul.priseList a.reduce{
	background-position: 0 -48px;
}
/*弹出窗*/
.maskShadow{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	background: rgba(0,0,0,0.7);
	z-index: 101;
}
.maskMain{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 520px;
	margin-left: -260px;
	color: #686866;
	text-align: center;
	height: 500px;
	margin-top: -250px;
}
.b-maskMain{
	height: 800px;
	margin-top: -400px;
}
.maskShadow .closeBtn{
	text-align: right;
}
.maskShadow .closeBtn a{
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(../images/icon.png) -24px 0 no-repeat;
}
.maskCenter{
	margin-top: 10px;
	border: 2px solid #00A8DE;
	border-radius: 10px;
	overflow: hidden;
	background: #00002F;
	padding: 8px;
	background: url(../images/maskImg.jpg) center top no-repeat;
}
h2.maskTitle {
	height: 130px;
	line-height: 130px;
	font-size: 43px;
	color: #CBD5D3;
	padding: 0 15px;
	text-align: left;
}
h2.colorMaskTitle{
	color: #FF431D;
}
.maskMiddle{
	background: #FFFFFF;
	border-radius: 6px;
	padding: 20px 30px;
}
.maskMiddle p.commonTxt{
	font-size: 24px;
}
h3.maskPriseTitle{
	font-size: 30px;
	color: #FF431D;
}
ul.submitForm{
	margin: 15px 0 0;
}
ul.submitForm li{
	margin-bottom: 14px;
}
ul.submitForm li:last-child{
	margin-bottom: 0px;
}
ul.submitForm input.text{
	padding: 10px 2%;
	width: 96%;
	height: 50px;
	line-height: 50px;
	background: #F1F0EE;
	color: #686866;
	font-size: 24px;
	border-radius: 4px;
}
ul.submitForm .province,
ul.submitForm .city,
ul.submitForm .county{
	display: inline;
	float: left;
	width: 32%;
}
ul.submitForm .city{
	margin: 0 2%;
}
ul.submitForm select{
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: #F1F0EE;
	color: #686866;
	font-size: 22px;
	border-radius: 4px;
}
ul.submitForm textarea.txt{
	padding: 10px 2%;
	width: 96%;
	height: 60px;
	line-height: 30px;
	background: #F1F0EE;
	color: #686866;
	font-size: 24px;
	border-radius: 4px;
}
p.errorTips{
	position: relative;
	font-size: 18px;
	padding-left: 25px;
	text-align: left;
}
p.errorTips:after{
	position: absolute;
	content: '';
	left: 0px;
	top: 4px;
	width: 22px;
	height: 22px;
	background: url(../images/icon.png) -24px -36px no-repeat;
}
.blueBtn{
	margin-top: 15px;
}
.blueBtn a{
	display: block;
	font-size: 33px;
	color: #FFFFFF;
	background: #1EA7DE;
	border-radius: 4px;
	height: 70px;
	line-height: 70px;
}
.maskPriseBox{
	margin-top: 8px;
	height: 500px;
	overflow-x:hidden;
	overflow-y:scroll;
}
.maskPriseBox .priseImg{
	border: 1px solid #1DA7DF;
	border-radius: 6px;
	text-align: center;
	overflow: hidden;
	-webkit-overflow-scrolling: touch; 
}
.maskPriseBox .priseImg img{
	max-width: 100%;
}
dl.maskPriseRule{
	margin-top: 10px;
	text-align: left;
	line-height: 30px;
	font-size: 18px;
	color: #686866;
}
dl.maskPriseRule a{
	color: #686866;
}
/*我的奖品*/
.myPrise {
    width: 580px;
    margin: 490px auto 0;
}
ul.mypriseList{
	background: #002458;
	border-radius: 6px;
	padding:15px;
	margin-top: 24px;
}
ul.mypriseList li{
	margin-bottom: 15px;
	background: #FFF;
	border-radius: 6px;
	font-size: 18px;
	text-align: left;
	color: #686866;
	padding: 8px 25px 30px 25px;
	overflow: hidden;
}
ul.mypriseList li:last-child{
	margin-bottom: 0px;
}
h4.myPriseTitle{
	color: #FF431D;
	font-size: 28px;
	display: inline-block;
	position: relative;
}
.myPriseTime{
	padding: 10px 0px;
	border-bottom: 1px solid #00A8DE;
	color: #686866;
	overflow: hidden;
	font-size: 18px;
}
span.limitTime{
	display: inline;
	float: left;
	width: 45%;
}
span.winTime{
	display: inline;
	float: right;
	width: 55%;
	text-align: right;
}
.linkmanBox{
	border: 1px solid #00A8DE;
	border-radius: 6px;
	margin-top: 18px;
	padding: 15px 10px;
}
.linkmanBox p{
	padding: 3px 0px;
	font-size: 20px;
}
.linkmanBox a{
	color: #686866;
}
p.notFillTxt{
	font-size: 20px;
	line-height: 48px;
	margin-top: 22px;
	display: inline;
	float: left;
}
a.inputInfroBtn{
	font-size: 24px;
	color: #FFFFFF;
	height: 48px;
	line-height: 48px;
	margin-top: 22px;
	display: inline;
	float: right;
	width: 170px;
	border-radius: 6px;
	background: #00A8DE;
	text-align: center;
}





