@charset "utf-8";

/*文章页*/

/*宽度小于768开始*/
@media (max-width: 768px)
{


/*漏洞*/
.loophole-part-1 h3{
	margin: 50px 0 25px;
}
.loophole-part-2{
	padding: 20px 0;
}
.loophole-part-2 .loophole-part-2-left {
	padding: 0 20px;
}
.loophole-part-3 .loophole-part-3-right img{
	margin-bottom: 40px;
}
.loophole-part-4 .container{
	width: 90%;
	margin: 0 auto;
}
.loophole-part-4-img{
	max-width: 100%;
}
.loophole-part-4 {
  text-align: center;
  padding: 60px 0;
  background: #F3F3F3;
}
.loophole-part-4 h3{
	margin: 30px 0 20px;
}
.loophole-part-4 li{
	text-align: center;
	margin-bottom: 30px;
}

/*威胁*/
.threat-part-1 h3{
	margin: 50px 0 25px;
}
.threat-part-1 .clume-5 li{
	display: inline;
	float: left;
	width: 50%;
}
.threat-part-2 .threat-part-2-left{
	margin-bottom: 30px;
}
.threat-part-3 .threat-part-3-right{
	margin-bottom: 25px;
}
.threat-part-4 .threat-colum-3 li{
	text-align: center;
	margin-bottom: 30px;
}


}

/**宽度大于768时候1280以上开始**/

@media (min-width: 768px)
{

/*part-1*/
.loophole-part-1 h3{
	margin: 70px 0 20px;
}
.loophole-part-1 li{
	display: inline;
	float: left;
	padding: 0 50px;
	width: 220px;
}

.loophole-part-1 li p{
	line-height: 24px;
	margin-top: 10px;
}
/*part-2*/
.loophole-part-2-left img{
	margin-top: 110px;
}
.loophole-part-2 .loophole-part-2-right{
	float: right;
	width: 650px;
}
.loophole-part-3 .loophole-part-3-right{
	float: right;
	width: 680px;
}
.loophole-part-3 .loophole-part-3-right img{
	margin-top: 180px;
}
.loophole-part-3 .loophole-part-3-left{
	float: right;
	width: 500px;
	margin-right: 0px;
}
.loophole-part-3 .common-part-infro{
	display: inline;
	float: left;
	clear: none;
	width: 250px;
	margin: 15px 0;
}
.loophole-part-3 .marginTop15{
	clear: both;
}
.loophole-part-4{
	text-align: center;
	padding: 60px 0;
	background: #F3F3F3;
}
.loophole-part-4 .colum-3{
	padding: 0 40px;
}
.loophole-part-4 .colum-3 li{
	display: inline;
	float: left;
	width: 320px;
	padding: 0 40px;
	text-align: center;
}
.loophole-part-4 h3{
	margin: 30px 0;
}

/*威胁管理平台*/
.threat-part-1 .clume-5{
	padding: 0 40px;
}
.threat-part-1 h3{
	margin: 30px 0;
}
.threat-part-1 .clume-5 li{
	display: inline;
	float: left;
	width: 240px;
}
.threat-part-2 .threat-part-2-left img{
	margin-top: 75px;
}
.threat-part-2 .threat-part-2-right{
	width: 610px;
	float: right;
}
.threat-part-3 .threat-part-3-right{
	display: inline;
	float: right;
}
.threat-part-3 .threat-part-3-right img{
	margin-top: 120px;
}
.threat-part-4{
	text-align: center;
}
.threat-part-4 .colum-3{
	padding: 0 40px;
}
.threat-part-4 .colum-3 li{
	display: inline;
	float: left;
	width: 320px;
	padding: 0 40px;
}
.threat-part-4 .threat-colum-3 li{
	text-align: center;
}



}


