@charset "utf-8";
/************************初始化**************************************/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,p,form,input,button{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}h2{font-size:14px}ul,ol li{list-style:none}body{font-size:12px;margin:0 auto;color:#6c6c6c;font-family:"方正兰亭细黑简体",Helvetica;background:#F2F2F2;-webkit-text-size-adjust:none}fieldset,img{border:0}img{vertical-align:top}input,textarea{border:none 0}a{text-decoration:none;color:#666}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:none}
input{ outline: none;}
body{overflow: hidden; background: #E10445;}
#loading{position:fixed;left:0px;top:0px;width:100%;height:100%;background:#FFFFFF url(../images/loading.gif) center center no-repeat;z-index:100;text-indent:-9999px;}
.main{ width: 640px; height: 1136px; overflow: hidden; margin: 0 auto; background: #E10445; position: relative;}
.p1_1{ position: absolute; left: 220px; top: 725px;}
.p1_2{ position: absolute; left: 220px; top: 660px;}
.p2_1{ position: absolute; left: 145px; top: 286px; display: none;}
.p2_1_mask{position: absolute; left: 145px; top: 286px; width: 327px; height: 614px; z-index: 1; display: none; background: #E10445;}
.p2_2{ position: absolute; left: 0px; top: 286px; display: none;}
.p2_3{ position: absolute; right: 0px; top: 286px; display: none;}
.p2_4{ position: absolute; left: 85px; top: 205px; display: none;}
.p2_5{ position: absolute; left: 300px; top: 205px; display: none;}
.yang_1{ position: absolute; left: 80px; top: 560px; display: none;}
.yang_2{ position: absolute; left: 390px; top: 565px; display: none;}
.yang_3{ position: absolute; left: 470px; top: 450px; display: none;}
.yang_4{ position: absolute; left: 115px; top: 270px; display: none;}
.yang_5{ position: absolute; left: 330px; top: 260px; display: none;}
.yang_6{ position: absolute; left: 170px; top: 320px; display: none;}
.yang_7{ position: absolute; left: 270px; top: 340px; display: none;}
.yang_8{ position: absolute; left: 337px; top: 500px; display: none;}
.p3_1{ position: absolute; left: 320px; top: 400px;  display: none;}
.p4_2{ position: absolute; left: 640px; top: 210px; display: none;}
.p4_1{ position: absolute; left: 0px; top: 400px;  display: none; }
.p5_1{ position: absolute; left: 0px; top: 360px;  display: none;}
.p4_1_mask{ width: 640px; height: 340px; position: absolute; left: 0px; top: 400px; z-index: 1; display: none; background: #E10445;}

@-webkit-keyframes tada{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}10%,20%{-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}30%,50%,70%,90%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}40%,60%,80%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes tada{0%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}10%,20%{-webkit-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);-ms-transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}30%,50%,70%,90%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);-ms-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}40%,60%,80%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);-ms-transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}100%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}.tada{-webkit-animation-name:tada;animation-name:tada}
.p1_2_on
{
	-webkit-animation: tada 1s linear infinite;
	-moz-animation: tada 1s linear infinite;
	-o-animation: tada 1s linear infinite;
	animation: tada 1s linear infinite;
}

@-webkit-keyframes upDownBtn{0%{-webkit-transform:translateY(50px);transform:translateY(50px)}100%{-webkit-transform:translateY(0px);transform:translateY(0px)}}
@keyframes upDownBtn{0%{-webkit-transform:translateY(50px);-ms-transform:translateY(50px);transform:translateY(05px)}100%{-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px)}}
.upDownBtn{-webkit-animation-name:upDownBtn;animation-name:upDownBtn}
.gesture{ position: absolute; left: 308px; top: 400px;
	-webkit-animation: upDownBtn 3s linear infinite;
	-moz-animation: upDownBtn 3s linear infinite;
	-o-animation: upDownBtn 3s linear infinite;
	animation: upDownBtn 3s linear infinite;}
