@charset "utf-8";

@-webkit-keyframes redPulse {
	from {-webkit-box-shadow: 0 0 9px #FFF; }
	50% {-webkit-box-shadow: 0 0 18px #FFF; }
	to {-webkit-box-shadow: 0 0 9px #FFF; }
}

/*pc*/
@media screen and (min-width: 736px){
	.home_top{
		background: url(../images/bannerBg.jpg) center top repeat;
	}
	.home_banner .container{
		height: 515px;
		background: url(../images/bannerTxt.png) center 100px no-repeat;
	}
	.home_more_btn{
		position: absolute;
		display: block;
		top: 370px;
		left: 565px;
		overflow: hidden;
		border-radius: 50%;
		background: #020202;
		-webkit-animation: redPulse 1s linear infinite;
		-moz-animation: redPulse 1s linear infinite;
		-o-animation: redPulse 1s linear infinite;
		animation: redPulse 1s linear infinite;
		-ms-animation: redPulse 1s linear infinite;
	}
	/*Company Capability*/
	.title_box h3{
		position: relative;
		background: url(../images/homeIcon.png) 0 0 no-repeat;
	}
	.com_capability .title_box h3{
		background-position: 0px 0px;
		width: 250px;
		height: 84px;
		margin: 0 auto;
		text-indent: -9999px;
	}
	.title_box a.title_tell{
		position: absolute;
		right: 0px;
		top: 0px;
		width: 240px;
		height: 84px;
		background: url(../images/homeIcon.png) -250px 0 no-repeat;
		display: block;
		text-indent: -9999px;
	}
	.com_capability_list{
		background: url(../images/home_capa_bg.jpg) center bottom repeat;
		background-size: cover;
		padding: 10px 0 100px;
		border-top: 1px solid #C3C0B9;
		border-bottom: 1px solid #C3C0B9;
	}
	.console_title{
		width: 510px;
		height: 50px;
		background: url(../images/homeIcon.png) -490px 0 no-repeat;
		margin: 0 auto 32px;
		text-indent: -9999px;
	}
	.com_capability_list li{
		display: inline;
		width: 220px;
		float: left;
		margin: 0 10px;
		text-align: center;
	}
	.com_capability_img{
		height: 300px;
		line-height: 300px;
		cursor: pointer;
	}
	.com_capability_img img{
		width: 200px;
		vertical-align: middle;
		transition:all 0.2s ease-in-out; 
		-webkit-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-moz-transition:all 0.2s ease-in-out;
	}
	.com_capability_img:hover img{
		width: 220px;
	}
	.com_capability_title{
		background: url(../images/homeIcon.png);
		width: 90px;
		height: 90px;
		text-indent: -9999px;
		margin: 10px auto 0;
	}
	.com_capability_title_1{
		background-position: 0px -84px;
	}
	.com_capability_title_2{
		background-position: -90px -84px;
	}
	.com_capability_title_3{
		background-position: -180px -84px;
	}
	.com_capability_title_4{
		background-position: -270px -84px;
	}
	.com_capability_title_5{
		background-position: -360px -84px;
	}
	/*Products Showcase*/
	.pro_showcase .title_box h3 {
	    background-position: -490px -84px;
	    width: 230px;
	    height: 84px;
	    margin: 0 auto;
	    text-indent: -9999px;
	}
	.pro_showcase_list{
		background: url(../images/home_showcase_bg.jpg) center bottom repeat;
		background-size: cover;
		padding:40px 0 70px;
		border-top: 1px solid #C3C0B9;
	}
	.pro_showcase_list .console_title{
		width: 610px;
		background-position: 0 -174px;
		margin-bottom: 70px;
	}
	.pro_showcase_slide{
		height: 530px;
		overflow: hidden;
		*position: relative;
	}
	.pro_showcase_wrap{
		*position: absolute;
	}
	.pro_showcase_child{
		display: inline;
		float: left;
		height: 530px;
		width: 100%;
		background-position: center top;
		background-size: cover;
	}
	.pro_showcase_focus{
		position: absolute;
		left: 0px;
		bottom: -40px;
		text-align: center;
		width: 100%;
	}
	.pro_showcase_focus span{
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #DDDAD6;
		margin: 0 3px;
	}
	.pro_showcase_focus span.on{
		background: #565551;
	}
	.pro_showcase_slide a.pre_btn{
		position: absolute;
		left: 0px;
		top: 50%;
		margin-top: -34px;
		width: 68px;
		height: 68px;
		background: url(../images/homeIcon.png) -755px -100px; no-repeat;
	}
	.pro_showcase_slide a.next_btn{
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -34px;
		width: 68px;
		height: 68px;
		background: url(../images/homeIcon.png) -823px -100px no-repeat;
	}
	/*合作伙伴*/
	.home_partner{
		padding: 6px 0;
		background: url(../images/home_partner.jpg) center top repeat;
	}
	.choose_us .title_box{
		background-color: #FFF;
	}
	.choose_us{
		background:#2A2A2A url(../images/foot_bg.jpg) center top repeat;
		background-size: cover;
	}
	.choose_us h3{
		background-position:  0px -224px;
	    width: 360px;
	    height: 78px;
	    margin: 0 auto;
	    text-indent: -9999px;
	}
	.choose_us_main{
		padding: 75px 0 0px;
	}
	.choose_us_tab_btn{
		height: 41px;
		width: 245px;
		margin: 0 auto;
		overflow: hidden;
		background: url(../images/homeIcon.png) 0 -302px no-repeat;
	}
	.choose_us_tab_btn.on{
		background-position: -245px -302px;
	}
	.choose_us_tab_btn a.about_us{
		display: inline;
		float: left;
		width: 130px;
		text-indent: -9999px;
		height: 41px;
	}
	.choose_us_tab_btn.on a.about_us{
		width: 115px;
	}
	.choose_us_tab_btn a.advantage{
		display: inline;
		float: left;
		width: 115px;
		text-indent: -9999px;
		height: 41px;
	}
	.choose_us_tab_btn.on a.advantage{
		width: 130px;
	}
	.choose_us_tab{
		padding-top: 20px;
	}
	.about_us_txt_mobile{
		display: none;
	}
}

/*移动端*/
@media only screen and (max-width: 735px){

	.home_top{
		background: url(../images/bannerBg.jpg) center top repeat;
	}
	.home_banner .container{
		height: 270px;
		background: url(../images/bannerTxt_mb.png) center 50px no-repeat;
		background-size: 100% auto;
	}
	.home_more_btn{
		position: absolute;
		display: block;
		bottom: 30px;
		left: 50%;
		width: 60px;
		margin-left: -30px;
	}
	.home_more_btn img{
		width: 100%;
	}
	/*Company Capability*/
	.title_box h3{
		position: relative;
		text-align: center;
		height: 60px;
		line-height: 60px;
		font-size: 16px;
	}
	.title_box a.title_tell{
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -8px;
		width: 61px;
		height: 16px;
		background: url(../images/welcome_mb.png) 0px 0 no-repeat;
		background-size: cover;
		display: block;
		text-indent: -9999px;
	}
	.com_capability_list{
		background: url(../images/home_capa_bg.jpg) center bottom repeat;
		background-size: cover;
		padding: 10px 0;
		border-top: 1px solid #C3C0B9;
		border-bottom: 1px solid #C3C0B9;
	}
	.console_title{
		line-height: 20px;
		padding: 10px 0;
		text-align: center;
		margin-bottom: 20px;
	}
	.com_capability_list li{
		display: inline;
		width: 40%;
		float: left;
		margin: 0 5%;
		text-align: center;
		margin-bottom: 30px;
	}
	.com_capability_img img{
		width: 100%;
		vertical-align: middle;
	}
	.com_capability_title{
		padding: 10px 0;
		position: relative;
	}
	.com_capability_title:after{
		content: '';
		width: 50%;
		height: 2px;
		background: #FF8627;
		position: absolute;
		left: 50%;
		margin-left: -25%;
		bottom: 0px;
	}
	/*Products Showcase*/
	.pro_showcase_list{
		background: url(../images/home_showcase_bg.jpg) center bottom repeat;
		background-size: cover;
		padding:10px 0;
		border-top: 1px solid #C3C0B9;
	}
	.pro_showcase_slide{
		height: 200px;
		overflow: hidden;
	}
	.pro_showcase_child{
		display: inline;
		float: left;
		height: 200px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		width: 100%;
	}
	.pro_showcase_focus{
		position: absolute;
		left: 0px;
		bottom: 0px;
		text-align: center;
		width: 100%;
	}
	.pro_showcase_focus span{
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #DDDAD6;
		margin: 0 3px;
	}
	.pro_showcase_focus span.on{
		background: #565551;
	}
	.pro_showcase_slide a.pre_btn,
	.pro_showcase_slide a.next_btn{
		display: none;
	}
	/*合作伙伴*/
	.home_partner{
		padding: 10px 0;
		background: url(../images/home_partner.jpg) center top repeat;
	}
	.home_partner img{
		width: 100%;
	}
	.choose_us .title_box{
		background-color: #FFF;
	}
	.choose_us{
		background: url(../images/foot_bg.jpg) center top no-repeat;
		background-size: cover;
	}
	.choose_us_main{
		padding: 20px 0;
	}
	.choose_us_tab_btn{
		height: 41px;
		width: 245px;
		margin: 0 auto;
		overflow: hidden;
		background: url(../images/homeIcon.png) 0 -302px no-repeat;
	}
	.choose_us_tab_btn.on{
		background-position: -245px -302px;
	}
	.choose_us_tab_btn a.about_us{
		display: inline;
		float: left;
		width: 130px;
		text-indent: -9999px;
		height: 41px;
	}
	.choose_us_tab_btn.on a.about_us{
		width: 115px;
	}
	.choose_us_tab_btn a.advantage{
		display: inline;
		float: left;
		width: 115px;
		text-indent: -9999px;
		height: 41px;
	}
	.choose_us_tab_btn.on a.advantage{
		width: 130px;
	}
	.choose_us_tab{
		padding-top: 20px;
	}
	.about_us_txt_pc{
		display: none;
	}
	.about_us_txt_mobile{
		text-align: center;
		padding: 0 10px;
		font-size: 12px;
		color: #e8efe6;
	}
	.about_us_txt_mobile h4{
		font-size: 14px;
		color: #757c7d;
		display: inline-block;
		padding: 10px 0;
		border-bottom: 1px solid #565B58;
		margin-bottom: 20px;
	}
	.about_us_txt_mobile p{
		text-align: left;
		word-break:break-all;
	}
}

