@charset "utf-8";

@-webkit-keyframes redPulse {
	from {-webkit-box-shadow: 0 0 9px #FFF; }
	50% {-webkit-box-shadow: 0 0 18px #FFF; }
	to {-webkit-box-shadow: 0 0 9px #FFF; }
}
/*pc*/
@media screen and (min-width: 736px){
	.product_top{
		position: relative;
	}
	.product_swiper{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		z-index: -1;
		height: 600px;
		overflow: hidden;
	}
	.product_slide {
	    display: inline;
	    float: left;
	    width: 100%;
	    background-position: center center;
	    *height: 600px !important ;
	    height: 600px !important\9;
	}
	.product_mid{
		position: absolute;
	    *height: 600px !important;
	    height: 600px !important\9;
	}
	.banner_1{
		padding: 185px 0 0 280px;
	}
	.banner_2{
		padding: 185px 0 0 0px;
		text-align: center;
	}
	.banner_3{
		padding: 185px 80px 0 0px;
		text-align: right;
	}
	.product_banner_Txt a.pre_btn{
		position: absolute;
		left: 0px;
		top: 50%;
		margin-top: -34px;
		width: 68px;
		height: 68px;
		background: url(../images/homeIcon.png) -610px -302px; no-repeat;
	}
	.product_banner_Txt a.next_btn{
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -34px;
		width: 68px;
		height: 68px;
		background: url(../images/homeIcon.png) -678px -302px no-repeat;
	}
	.product_banner_Txt .container{
		height: 215px;
		padding-top: 300px;
	}
	.product_banner_btn{
		width: 437px;
		height: 54px;
		background: url(../images/homeIcon.png) 0 -403px no-repeat;
		margin: 0px auto;
		overflow: hidden;
	}
	.product_banner_btn.on{
		background-position: 0 -349px
	}
	.product_banner_btn a{
		display: inline;
		float: left;
		width: 218px;
		height: 54px;
		text-indent: -9999px;
	}
	a.home_more_btn{
		position: absolute;
		display: block;
		top: 380px;
		left: 50%;
		margin-left: -50px;
		overflow: hidden;
		border-radius: 50%;
		background: #020202;
		-webkit-animation: redPulse 1s linear infinite;
		-moz-animation: redPulse 1s linear infinite;
		-o-animation: redPulse 1s linear infinite;
		animation: redPulse 1s linear infinite;
		-ms-animation: redPulse 1s linear infinite;
	}
	.title_box{
		border-top: 1px solid #C3C0B9;
		border-bottom: 1px solid #C3C0B9;
	}
	.title_box h3{
		position: relative;
		height: 84px;
		color: #333333;
		text-align: center;
		line-height: 84px;
		font-size: 34px;
	}
	.title_box h3 span{
		display: inline-block;
		padding: 0 10px;
		position: relative;
	}
	.title_box h3 span i{
		width: 36px;
		height: 36px;
		text-align: center;
		line-height: 36px;
		color: #FFF;
		font-size: 18px;
		background: #FF7C00;
		position: absolute;
		left: -100px;
		top: 50%;
		margin-top: -18px;
		border-radius: 50%;
	}
	.title_box a.title_tell{
		position: absolute;
		right: 0px;
		top: 0px;
		width: 240px;
		height: 84px;
		background: url(../images/homeIcon.png) -250px 0 no-repeat;
		display: block;
		text-indent: -9999px;
	}
	/*Company Capability*/
	.product_style_main,
	.product_teenager_main,
	.product_adult_main{
		padding: 10px 0 70px;
		text-align: center;
	}
	h6.product_title{
		font-size: 14px;
		color: #999999;
		line-height: 24px;
	}
	.product_common_list {
		margin-top: 70px;
	}
	.product_common_list li{
		display: inline;
		float: left;
		margin: 0 38px;
		margin:0 36px\0;
	}
	.product_common_list li a{
		display: block;
		border:2px solid #9A9691;
	}
	.product_common_list li img{
		width: 100%;
	}
	.product_style_in{
		background: #9A9691;
		color: #FFF;
		padding: 6px 4px;
		text-align: left;
	}
	.product_style_in h3{
		font-size: 20px;
	}
	.product_style_in h5{
		font-size: 18px;
	}
	.product_common_list li a:hover{
		border:2px solid #FF7C00;
	}
	.product_common_list li a:hover .product_style_in{
		background: #FF7C00;
	}
	/*Teenager Style*/
	.product_teenager_list li,
	.product_adult_list li{
		display: inline-block;
		float: inherit;
		*display: inline;		
		margin: 0 38px;
		*padding: 0 38px;
	}
	.product_eye_main{
		padding: 10px 0;
		text-align: center;
	}
	.product_eye_img,
	.product_myopia_img{
		margin-top: 60px;
	}
	.product_myopia_main{
		padding: 10px 0;
		text-align: center;
	}
	.product_tech{
		border-top: 1px solid #C3C0B9;
		padding: 30px 0;
		text-align: center;
	}
	.product_tech h2{
		font-size: 30px;
		color: #333333;
	}
	.product_eye_img a,
	.product_myopia_img a{
		display: block;
	}
}

/*移动端*/
@media only screen and (max-width: 735px){
	.product_top{
		position: relative;
		height: 320px;
		overflow: hidden;
	}
	.product_swiper{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		z-index: -1;
		height: 320px;
		overflow: hidden;
	}
	.product_slide {
	    display: inline;
	    float: left;
	    width: 100%;
	    background-position: center center;
	    background-size: cover;
	    text-align: center;
	}
	.product_banner_Txt{
		text-align: center;
	}
	.banner_1{
		padding-top: 108px;
	}
	.banner_1 img{
		width: 80%;
	}
	.banner_2{
		padding-top: 108px;
	}
	.banner_2 img{
		width: 90%;
	}
	.banner_3{
		padding-top: 68px;
	}
	.banner_3 img{
		width: 70%;
	}
	.product_banner_Txt .container{
		height: 140px;
		padding-top: 132px;
	}
	.product_banner_Txt a.pre_btn{
		position: absolute;
		left: -20px;
		top: 50%;
		margin-top: -34px;
		width: 68px;
		height: 68px;
		background: url(../images/homeIcon.png) -610px -302px; no-repeat;
	}
	.product_banner_Txt a.next_btn{
		position: absolute;
		right: -20px;
		top: 50%;
		margin-top: -34px;
		width: 68px;
		height: 68px;
		background: url(../images/homeIcon.png) -678px -302px no-repeat;
	}
	.product_banner_btn{
		overflow: hidden;
		border: 1px solid #D9DBDD;
		width: 203px;
		margin: 0px auto 20px;
	}
	.product_banner_btn.on a.wholesBtn,
	.product_banner_btn a.sourcBtn{
		background: rgba(0,0,0,0.4);
	}
	.product_banner_btn.on a.sourcBtn{
		background: transparent;
	}
	.product_banner_btn a{
		color: #FFF;
		font-size: 14px;
		display: block;
		float: left;
		width: 100px;
		height: 30px;
		line-height: 30px;
	}
	.product_banner_btn a:first-child{
		border-right: 1px solid #D9DBDD;
	}
	a.home_more_btn{
		display: inline-block;
		overflow: hidden;
		border-radius: 50%;
		width: 60px;
		background: #020202;
		-webkit-animation: redPulse 1s linear infinite;
		-moz-animation: redPulse 1s linear infinite;
		-o-animation: redPulse 1s linear infinite;
		animation: redPulse 1s linear infinite;
		-ms-animation: redPulse 1s linear infinite;
	}
	a.home_more_btn img{
		width: 100%;
	}
	.title_box{
		border-top: 1px solid #C3C0B9;
		border-bottom: 1px solid #C3C0B9;
	}
	.title_box h3{
		position: relative;
		text-align: center;
		height: 60px;
		line-height: 60px;
		font-size: 16px;
	}
	.title_box h3 span{
		display: inline-block;
		padding: 0 10px;
		position: relative;
	}
	.title_box h3 span i{
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		color: #FFF;
		font-size: 12px;
		background: #FF7C00;
		position: absolute;
		left: -30px;
		top: 50%;
		margin-top: -10px;
		border-radius: 50%;
	}
	.title_box a.title_tell{
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -8px;
		width: 61px;
		height: 16px;
		background: url(../images/welcome_mb.png) 0px 0 no-repeat;
		background-size: cover;
		display: block;
		text-indent: -9999px;
	}
	/*Company Capability*/
	.product_style_main,
	.product_teenager_main,
	.product_adult_main{
		padding: 10px;
		text-align: center;
	}
	h6.product_title{
		font-size: 14px;
		color: #999999;
		line-height: 24px;
	}
	.product_common_list {
		margin-top: 20px;
	}
	.product_common_list li{
		display: inline;
		float: left;
		width: 48%;
		margin: 0 1% 10px;
		word-break: break-all;
	}
	.product_common_list li a{
		display: block;
		border:2px solid #9A9691;
	}
	.product_common_list li img{
		width: 100%;
	}
	.product_style_in{
		background: #9A9691;
		color: #FFF;
		padding: 6px 4px;
		text-align: left;
		font-size: 12px;
	}
	.product_style_in h3{
		font-size: 14px;
	}
	.product_style_in h5{
		font-size: 13px;
	}
	.product_common_list li a:hover{
		border:2px solid #FF7C00;
	}
	.product_common_list li a:hover .product_style_in{
		background: #FF7C00;
	}
	/*Teenager Style*/
	.product_adult_list li,
	.product_teenager_list li{
		display: inline-block;
		float: inherit;
	}
	.product_eye_main{
		padding: 10px;
		text-align: center;
	}
	.product_eye_main img{
		width: 100%;
	}
	.product_myopia_main{
		padding: 10px;
		text-align: center;
	}
	.product_myopia_main img{
		width: 100%;
	}
	.product_tech{
		border-top: 1px solid #C3C0B9;
		padding: 20px 0;
		text-align: center;
	}
	.product_tech h2{
		font-size: 16px;
		color: #333333;
	}
	.product_eye_img a,
	.product_myopia_img a{
		display: block;
	}
}

