@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
html{color:#333333;overflow:auto;overflow:-moz-scrollbars-vertical ; font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:none}
body,button,input,select,textarea{font-size:12px; font-family:'方正兰亭细黑简体','微软雅黑','Microsoft Yahei', Helvetica, arial,'Hiragino Sans GB', '宋体', Tahoma, Arial, STHeiti;}
h1,h2,h3,h4,h5,h6{font-size:100%}
em{font-style:normal}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none;outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
a:hover{text-decoration:none;}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%; border:none 0; outline:none;}
table{border-collapse:collapse;border-spacing:0}
img{-ms-interpolation-mode:bicubic; vertical-align:top; border:0; pointer-events: none; -webkit-user-select: none; -moz-user-select: none;}
textarea{resize:vertical; resize:none;}
input:focus,textarea:focus{ outline:none;}
input:-moz-placeholder , textarea:-moz-placeholder , select:-moz-placeholder{ color:#666666;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder , select:-ms-input-placeholder{ color:#666666;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder , select::-webkit-input-placeholder{ color:#666666;}
/*清除浮动*/
.clearfix{zoom:1}
.clearfix:after{content:"";display:block;clear:both}
.clear{ clear:both;}
body{ background: #214358; overflow: hidden;}

/*css3*/
@-webkit-keyframes pointOut{0%{-webkit-transform:scale(10,15)}100%{-webkit-transform:scale(1,1)}}
@-webkit-keyframes pointOn{0%{clip:rect(0px 190px 0px 0px)}100%{clip:rect(0px 190px 190px 0px)}}
@-webkit-keyframes inductor{0%{-webkit-transform:translateY(0px)}50%{-webkit-transform:translateY(190px)}100%{-webkit-transform:translateY(0px)}}


.main{ width: 640px; margin: 0 auto; height: 1136px; overflow: hidden; position: relative; background:#010812 url(../images/bg.jpg) center top no-repeat;}
.title_name{ position: absolute; left: 0px; top: 100px;}
.book{ position: absolute; left: 0px; top:240px; width: 640px;  height: 740px; background: url(../images/book.png) center top no-repeat;}
.point{position: absolute; margin: 0 auto; left: 0px; right: 0px; width: 190px; height: 190px; top:600px;  background: url(../images/pointBg.png) center top no-repeat; background-size:100% 100%;}
.pointOn{width:190px; height:190px; position: absolute; z-index: 40; background:url(../images/pointOn.png) center center no-repeat; background-size:100%; -webkit-animation:'pointOn' 1s linear infinite;clip:rect(0px 80px 0px 0px); display:none;}
.inductor{width:100%; height:5px;background:#fff; -webkit-box-shadow:0px 8px 15px #fff,0px -8px 15px #fff; position: absolute; -webkit-animation:'inductor' 2.5s linear 0s infinite;z-index: 99} 
#videoBtn{position: absolute; left: 50%; top: 870px; margin-left: -60px;}

/*loading img*/
.queryloader__overlay__bar{overflow: hidden; height: 180px; width: 0px;
	-webkit-animation: loadingBackPosi 1s linear infinite;
	-moz-animation: loadingBackPosi 1s linear infinite;
	-o-animation: loadingBackPosi 1s linear infinite;
	animation: loadingBackPosi 1s linear infinite;
	-ms-animation: loadingBackPosi 1s linear infinite;
}
.queryloader__overlay__percentage{font-family: '汉仪中宋简' , '方正兰亭细黑简体';}
.queryloader__overlay{ background:#010912 url('http://www.uwin.cc/benz/20150607/images/loadBg.jpg') center top no-repeat;}
/*css3动画*/
@-webkit-keyframes loadingBackPosi{
	0%{width: 0px;}
	100%{width: 640px;}
}
.loadingBackPosi{-webkit-animation-name:loadingBackPosi;animation-name:loadingBackPosi}

/*视频弹出窗*/
.videoMask{
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.95);
}
.videoCen{
	padding-top: 40px;
}
.videoMid{
	display: none;
	position:fixed;
	left: 50%;
	top: 50%;
	width: 510px;
	height: 320px;
	margin: -160px 0 0 -255px;
	z-index: 101;
}
.closeBtn{
	position: absolute;
	right: -20px;
	top: -10px;
	z-index: 102;
	opacity: 0.8;
}
