@charset "utf-8";

/*banner*/
.kuangn-about-banner{
	position: relative;
}
.kuangn-about-banner .container{
	position: relative;
}
.kuangn-about-banner-titel{
	position: absolute;
}

.kuangn-about-tab-nav{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	_top:404px;
}
.kuangn-about-tab-nav a{
	text-align: center;
	color: #fff;
	background: #0094FC;
	border-radius: 4px 4px 0 0;
	background: -moz-linear-gradient(top,  #0094FC 0%, #1172B9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0094FC), color-stop(100%,#1172B9)); 
	background: -webkit-linear-gradient(top,  #0094FC 0%,#1172B9 100%);
	background: -o-linear-gradient(top,  #0094FC 0%,#1172B9 100%);
	background: -ms-linear-gradient(top,  #0094FC 0%,#1172B9 100%);
	background: linear-gradient(to bottom,  #0094FC 0%,#1172B9 100%);
}
.kuangn-about-tab-nav a.active{
	color: #45474A;
	background: #FFFFFF;
}
.kuangn-about-tab-nav a.careerActive{
	background: #EBEDED;
}
/*关于我们*/
.kuangn-about-us-infro h2 {
	color: #45474A;
	text-align: center;
}
.kuangn-about-us-infro p {
	color: #535353;
	margin-bottom: 12px;
}
/*我们的理念*/
.kuangn-about-us-idea h2 {
	color: #33A3F4;
	text-align: center;
}
/*我们的所在地*/
.kuangn-about-us-address h2 {
	color: #33A3F4;
	text-align: center;
}
.kuangn-about-us-title-p {
	color: #606366;
	text-align: center;
}
.kuangn-about-map-mb{
	display: none;
}
/*匡恩招聘*/
.kuangn-recruit{
	background: #EBEDED;
	padding-bottom: 50px;
}
.kuangn-recruit-list{
	border-bottom: 1px solid #006AC5;
	position: relative;
	padding: 20px 0;
	_padding: 30px 0;
}

.kuangn-recruit-circle{
	position: absolute;
	width: 58px;
	height: 58px;
	line-height: 58px;
	font-size: 20px;
	color: #fff;
	background: #006AC5;
	border: 10px solid #EBEDED;
	border-radius: 50%;
	text-align: center;
	z-index: 2;
}
.kuangn-recruit-circle-cp{
	background: #006AC5;
}
.kuangn-recruit-circle-sc{
	background: #7FAD1C;
}
.kuangn-recruit-circle-xy{
	background: #F08C16;
}
.kuangn-recruit-circle-yf{
	background: #694CC6;
}
.kuangn-recruit-circle-active.kuangn-recruit-circle-cp{
	border: 10px solid #A4C5E1;	
}
.kuangn-recruit-circle-active.kuangn-recruit-circle-sc{
	border: 10px solid #9DBF56;	
}
.kuangn-recruit-circle-active.kuangn-recruit-circle-xy{
	border: 10px solid #EFA145;	
}
.kuangn-recruit-circle-active.kuangn-recruit-circle-yf{
	border: 10px solid #8A74D0;	
}
.kuangn-recruit-infro{
	border-left: 1px dashed #1777C9;
}
.kuangn-recruit-infro-job{
	color: #006AC5;
	cursor: pointer;
}
.kuangn-recruit-infro-job h3{
	font-weight: bold;
}
.kuangn-recruit-infro-bottom{
	background: #FFFFFF;
	border: 1px solid #E1E3E3;
	box-shadow:0px 5px 5px #E1E3E3;
	position: relative;
	clear: both;
}
.kuangn-recruit-job-left h3{
	color: #006AC5;
	font-weight: bold;
}
.kuangn-recruit-job-left p{
	color: #5F5F5F;
}
.kuangn-recruit-job-left small{
	display: block;
	color: #5F5F5F;
}
.kuangn-recruit-infro-bottom a.click-apply{
	text-align: center;
	color: #FFF;
	border-radius: 4px;
	background: #00AEFF;
	background: -moz-linear-gradient(top,  #00AEFF 0%, #008EFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00AEFF), color-stop(100%,#008EFF)); 
	background: -webkit-linear-gradient(top,  #00AEFF 0%,#008EFF 100%);
	background: -o-linear-gradient(top,  #00AEFF 0%,#008EFF 100%);
	background: -ms-linear-gradient(top,  #00AEFF 0%,#008EFF 100%);
	background: linear-gradient(to bottom,  #00AEFF 0%,#008EFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AEFF', endColorstr='#008EFF',GradientType=0 );
}
.kuangn-recruit-job-right p {
	color: #5F5F5F;
}
.kuangn-recruit-job-right p.blue-color{
	color: #006AC5;
}




/*宽度小于768开始*/
@media (max-width: 768px)
{
	
/*banner*/
.kuangn-about-banner{
	margin-top: 42px;
}
.kuangn-about-aboutus-banner{
	background: #000;
}
.kuangn-about-career-banner{
	background: #000;
}
.kuangn-about-banner .container{
	height: auto;
}
.kuangn-about-banner .container .banner-mb{
	width: 100%;
}
.kuangn-about-banner-titel{
	left: 30px;
	top: 30px;
	width: 110px;
}

.kuangn-about-tab-nav .container{
	text-align: center;
	height: 35px;
}
.kuangn-about-tab-nav a{
	display: inline-block;
	width: 44%;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	margin: 0 1%;
}
/*关于我们*/
.kuangn-about-us-infro{
	padding: 20px 5%;
}
.kuangn-about-us-infro h2 {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
}
.kuangn-about-us-infro p {
	font-size: 12px;
	line-height: 22px;
}
/*我们的理念*/
.kuangn-about-us-idea{
	background: #B8B8B8 url(../images/kuangn-about-infro-mb.jpg) center top no-repeat;
	padding: 20px 0 10px;
	height: 715px;
}
.kuangn-about-us-idea h2{
	line-height: 40px;
	font-size: 20px;
	margin-bottom: 60px;
}
.kuangn-aboutus-idea-list{
	min-height: 165px;
	width: 50%;
	float: right;
	clear: both;
}
.kuangn-aboutus-idea-list:nth-child(3){
	float: left;

}
.kuangn-aboutus-idea-list p{
	width: 80%;
	margin: 0 auto;
	font-size: 13px;
	line-height: 22px;
}
/*我们的所在地*/
.kuangn-about-us-address{
	padding: 20px 0;
}
.kuangn-about-us-address h2{
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
}
.kuangn-about-us-title-p{
	font-size: 12px;
	line-height: 20px;
	padding: 0 5%;
}
.kuangn-about-map-mb{
	display: block;
	position: absolute;
	left: 0px;
}
.kuangn-about-us-map{
	margin-top: 355px;
	padding: 0 5%;
}
.kuangn-about-us-map li{
	margin-bottom: 12px;
	border: 1px solid #F6F6F6;
	box-shadow: 2px 3px 3px #E7E7E7;
	padding: 5px 3%;
}
.kuangn-about-us-map li a{
	display: none;
}
.address-box h4{
	height: 30px;
	text-align: center;
	font-size: 18px;
	color: #3A464F;
	line-height: 35px;
	margin-bottom: 4px;
}
.address-box p{
	line-height: 16px;
	font-size: 12px;
	color: #8A8A8A;
}

/*匡恩招聘*/
.kuangn-recruit-circle{
	left: 14px;
	top: 15px;
}
.kuangn-recruit-smallIcon{
	position: absolute;
	left: 32px;
	bottom: -15px;
	display: block;
}
.kuangn-recruit-infro{
	margin-left: 50px;
	padding-left:15px;
}

.kuangn-recruit-infro-job{
	padding: 0px 0 8px 50px;
	position: relative;
}
.kuangn-recruit-infro-job h3{
	font-size: 14px;
	line-height: 22px;
}
.kuangn-recruit-infro-job h6{
	font-size: 12px;
	line-height: 16px;
}
.kuangn-recruit-infro-bottom{
	padding: 15px;
	width: 80%;
	margin-bottom: 10px;
}
.kuangn-recruit-infro-job-active:before{
	content: '';
	display: block;
	position: absolute;
	background: url(../images/caret-up.png) 0 0 no-repeat;
	background-size: 16px 7px;
	left: 55px;
	bottom: -4px;
	width: 16px;
	height: 7px;
	z-index: 1;
}
.kuangn-recruit-job-left h3{
	font-size: 15px;
	line-height: 30px;
}
.kuangn-recruit-job-left p{
	margin: 10px 0 0px;
	font-size: 13px;
}
.kuangn-recruit-job-left small{
	line-height: 16px;
	font-size: 12px;
}
.kuangn-recruit-infro-bottom a.click-apply{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	margin-top:20px;
}
.kuangn-recruit-infro-bottom .kuangn-recruit-job-left a.click-apply{
	display: none;
}
.kuangn-recruit-job-right{
	margin-top: 10px;
}
.kuangn-recruit-job-right p{
	line-height: 20px;
	font-size: 12px;
}
.kuangn-recruit-infro-bottom a.close-btn{
	position: absolute;
	right: 12px;
	top: 12px;
	display: block;
}
.kuangn-recruit-infro-bottom a.close-btn img{
	width: 14px;
	height: 14px;
}


}

/**宽度大于768时候1280以上开始**/

@media (min-width: 768px)
{

/*banner*/
.kuangn-about-banner{
	margin-top: 56px;
}
.kuangn-about-aboutus-banner{
	background:#000 url(../images/kuangn-about-banner.jpg) center top no-repeat;
}
.kuangn-about-career-banner{
	background: url(../images/kuangn-career-banner.jpg) center top no-repeat;
}
.kuangn-about-banner .container{
	height: 454px;
}
.kuangn-about-banner-titel{
	left: 0px;
	top: 80px;
	width: 220px;
}
.kuangn-about-banner .banner-mb{
	display: none;
}
.kuangn-about-tab-nav .container{
	height: 50px;
}
.kuangn-about-tab-nav a{
	display: inline;
	float: left;
	width: 220px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin-right: 5px;
}
.kuangn-about-tab-nav a.active{
	color: #45474A;
	background: #FFFFFF;
}
.kuangn-about-tab-nav a.careerActive{
	background: #EBEDED;
}
/*关于我们*/
.kuangn-about-us{
	background: #FFF;
}
.kuangn-about-us-infro{
	padding: 25px 0;
}
.kuangn-about-us-infro h2{
	font-size: 22px;
	line-height: 40px;
	margin-bottom: 25px;
}
.kuangn-about-us-infro h2 span{
	display: block;
}
.kuangn-about-us-infro p{
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 12px;
}
/*我们的理念*/
.kuangn-about-us-idea{
	background:url(../images/kuangn-about-infro-bg.jpg) center top no-repeat, url(../images/kuangn-about-infro-bg-line.jpg) repeat ;
	min-width: 1280px;
}
.kuangn-about-us-idea .container{
	height: 386px;
	overflow: hidden;
	padding: 25px 0;
}
.kuangn-about-us-idea h2{
	font-size: 40px;
	line-height: 70px;
	margin-bottom: 130px;
}
.kuangn-aboutus-idea-list{
	display: inline;
	float: left;
	width: 33.333333333333%;
	*width: 425px;
}
.kuangn-aboutus-idea-list p{
	padding:0 15%;
	font-size: 18px;
	color: #4C4C4C;
	line-height: 30px;
	_padding:0 60px;
}
.kuangn-about-us-address{
	background: #fff;
	padding: 25px 0;
}
.kuangn-about-us-address h2{
	font-size: 40px;
	line-height: 70px;
}
.kuangn-about-us-title-p{
	font-size: 22px;
}
.kuangn-about-us-map{
	background: url(../images/kuangn-about-map.jpg) center top;
	height: 633px;
	position: relative;
	margin-top: 30px;
}
.kuangn-about-us-map li{
	position: absolute;
}
a.map-icon-name{
	display: inline;
	float: left;
	width: 75px;
	height: 40px;
	text-indent: -9999px;
}
.kuangn-about-us-map .address-box{
	display: inline;
	float: left;
	margin: 20px 0 0 18px;
	padding: 10px;
	border: 1px solid #F08C16;
	border-radius:0 4px 4px 4px;
	background: #fff;
	color: #8A8A8A;
	font-size: 12px;
	line-height: 20px;
	position: relative;
	display: none;
}
.kuangn-about-us-map .address-box:before{
	position: absolute;
	left: -13px;
	top: -1px;
	width: 13px;
	height: 17px;
	background: url(../images/address-box-icon.png) 0 0 no-repeat;
	content: '';
	display: block;
}
.kuangn-about-us-map .address-box h4{
	display: none;
}
.kuangn-about-us-map li.beijing{
	left: 730px;
	top: 185px;
}
.beijing-map-icon{
	position: absolute;
	left: -70px;
	top: -30px;
	width: 70px;
	height: 85px;
	text-indent: -9999px;
}
.kuangn-about-us-map li.shanghai{
	left: 800px;
	top: 324px;
}
.shanghai-map-icon{
	position: absolute;
	left: -27px;
	top: 0px;
	width: 30px;
	height: 35px;
	text-indent: -9999px;
}
.kuangn-about-us-map li.guangzhou{
	left: 615px;
	top: 520px;
}
.guangzhou-map-icon{
	position: absolute;
	left: 42px;
	top: -36px;
	width: 30px;
	height: 35px;
	text-indent: -9999px;
}
.kuangn-about-us-map li.ningbo{
	left: 785px;
	top: 390px;
}
.ningbo-map-icon{
	position: absolute;
	left: -12px;
	top: -27px;
	width: 30px;
	height: 35px;
	text-indent: -9999px;
}
.kuangn-about-us-map li.hangzhou{
	left: 710px;
	top: 380px;
}
.hangzhou-map-icon{
	position: absolute;
	left: 40px;
	top: -36px;
	width: 30px;
	height: 35px;
	text-indent: -9999px;
}
.kuangn-about-us-map li.wuhan{
	left: 640px;
	top: 425px;
}
.wuhan-map-icon{
	position: absolute;
	left: 15px;
	top: -32px;
	width: 30px;
	height: 35px;
	text-indent: -9999px;
}
.kuangn-about-us-map li.shenzhen{
	left: 682px;
	top: 508px;
}
.shenzhen-map-icon{
	position: absolute;
	left: 0px;
	top: -30px;
	width: 30px;
	height: 35px;
	text-indent: -9999px;
}

/*匡恩招聘*/

.kuangn-recruit-circle{
	left: 50px;
	top: 40px;
	_top:30px;
}

.kuangn-recruit-smallIcon{
	position: absolute;
	left: 70px;
	bottom: -15px;
	display: block;
}
.kuangn-recruit-infro{
	margin-left: 88px;
	padding-left:70px;
	margin-top: 20px;
}

.kuangn-recruit-infro-job{
	display: inline;
	float: left;
	padding: 0 35px 20px;
	position: relative;
	_width:200px;
}
.kuangn-recruit-infro-job-active:before{
	content: '';
	display: block;
	position: absolute;
	background: url(../images/caret-up.png) 0 0 no-repeat;
	left: 35px;
	bottom: -4px;
	width: 40px;
	height: 24px;
	z-index: 1;
}
.kuangn-recruit-infro-job h3{
	font-size: 22px;
	height: 50px;
	line-height: 50px;
}
.kuangn-recruit-infro-job h6{
	font-size: 18px;
	line-height: 35px;
}
.kuangn-recruit-infro-bottom{
	padding: 60px;
	_padding-bottom:0px;
	width: 900px;
}
.kuangn-recruit-job-left{
	display: inline;
	float: left;
	width: 260px;
}
.kuangn-recruit-job-left h3{
	font-size: 30px;
	line-height: 50px;
}
.kuangn-recruit-job-left p{
	margin: 25px 0 3px;
	font-size: 18px;
}
.kuangn-recruit-job-left small{
	line-height: 18px;
}
.kuangn-recruit-infro-bottom a.click-apply{
	display: none;
	width: 180px;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	margin-top:40px;
}
.kuangn-recruit-infro-bottom .kuangn-recruit-job-left a.click-apply{
	display: block;
}
.kuangn-recruit-job-right{
	display: inline;
	float: left;
	margin-left: 40px;
	width: 600px;
}
.kuangn-recruit-job-right p{
	line-height: 35px;
	font-size: 16px;

}
.kuangn-recruit-infro-bottom a.close-btn{
	position: absolute;
	right: 30px;
	top: 30px;
	display: block;
}


}


