@charset "utf-8";

/*文章页*/

/*宽度小于768开始*/
@media (max-width: 768px)
{



.kuangn-product{
	clear: both;
}
/*导航*/
.kuangn-product-slide{
	background: #EBEBEB;
	position: relative;
}
.kuangn-product-bd{
	background: #D3D3D3;
	text-align: center;
	height: 60px;
	overflow: hidden;
}
.kuangn-product-bd li{
	display: inline;
	float: left;
	width: 100%;
}
.kuangn-product-bd li a{
	display:inline-block;
	height: 58px;
	line-height: 58px;
	border-bottom: 2px solid #D3D3D3;
	font-size: 18px;
	color: #414A61;
	padding: 0 20px;
}
.kuangn-product-bd li.on a{
	border-bottom: 2px solid #414A61;
}
.kuangn-product-slide a.navpre{
	position: absolute;
	left: 16px;
	top: 16px;
	width: 36px;
	height: 36px;
	background: url(../images/solution/product-nav-pre.png) 0 0 no-repeat;
	text-indent: -9999px;
}
.kuangn-product-slide a.navnext{
	position: absolute;
	right: 16px;
	top: 16px;
	width: 36px;
	height: 36px;
	background: url(../images/solution/product-nav-next.png) 0 0 no-repeat;
	text-indent: -9999px;
}
.kuangn-product-slide a.prevStop{
	opacity: 0.5
}
.kuangn-product-slide a.nextStop{
	opacity: 0.5
}
.kuangn-product-sd{
	text-align: center;
	height: 162px;
	overflow: hidden;
}
.kuangn-product-sd li{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}
.kuangn-product-sd li dd{
	display: inline;
	float: left;
	width: 100%;
}
.kuangn-product-sd li dd.prevView {
  transform: translateX(35%);
  -webkit-transform: translateX(35%);
  -moz-transform: translateX(35%);
  -ms-transform: translateX(35%);
  -o-transform: translateX(35%);
  opacity: 0.3;
}
.kuangn-product-sd li dd.nextView {
  transform: translateX(-35%);
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  opacity: 0.3;
}
.kuangn-product-sd li dd a{
	display: block;
	text-align: center;
	padding-bottom: 16px;
	line-height: 36px;
	font-size: 16px;
	color: #414A61;
	opacity: 0.6;
	filter:alpha(opacity=60);
}
.kuangn-product-sd li dd a.active{
	color: #E99430;
	opacity: 1;
	filter:alpha(opacity=100);
}
/*banner*/
.kuang-product-child-banner{
	height: 260px;
	background:#004A80 url(../images/solution/solution-banner-mb.jpg) center top repeat;
	text-align: center;
	padding: 60px 20px 0;
}
.kuang-product-child-banner h2{
	line-height: 40px;
	font-size: 22px;
	color: #FF8400;
	margin-bottom: 15px;
}
.kuang-product-child-banner h6{
	font-size: 14px;
	color: #E4E4E4;
	line-height: 22px;
}
/*产品part*/
.common-part-1{
	background: #FFFFFF;
	text-align: center;
	padding: 20px;
}
.common-part-1 img{
	max-width: 100%;
}
.common-part-2{
	background: #EBEAEA;
	padding: 45px 0;
}
.common-part-2 .common-part-2-left{
	text-align: center;
}
.common-part-2 .common-part-2-left img{
	max-width: 100%;
}
.common-part-2 .common-part-2-right{
	padding:20px;
}
.common-part-3{
	background: #FFFFFF;
	padding: 50px 0;
}
.common-part-3 .common-part-3-left{
	padding: 0 20px;
}
.common-part-3 .common-part-3-right{
	text-align: center;
	padding: 0 20px;
}
.common-part-3 .common-part-3-right img{
	max-width: 100%;
}
.common-part-4{
	background: #F3F3F3;
	padding: 40px 20px;
	text-align: center;
}
.common-part-4 p{
	text-align: left;
}
.common-part-4 img{
	max-width: 100%;
}
.common-part-infro{
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
.common-product .common-part-infro h5{
	line-height: 36px;
}
.common-product .common-part-infro p{
	font-size: 14px;
	line-height: 24px;
}
.common-part-infro-else-2 p{
	padding-top: 20px;
}
.common-part-infro img{
	display: inline;
	float: left;
	margin:10px 15px 0 0;
}
.commonTable{
	padding: 5px 0px 78px;
	background: #fff;
}
.commonTable .container{
	width: 90%; 
	box-shadow: -3px -3px 4px #E9E9E9;
	overflow-y:hidden;
	-webkit-overflow-scrolling: touch; 
}
.commonTable .commonTable-center{
	width: 1200px;
	background: #E9E9E9;
}
.commonTable dl{
	display: inline;
	float: left;
	width: 240px;
}
.commonTable dl dd{
	color: #535353;
	font-size: 14px;
	text-align: center;
	padding: 10px 0px;
	border-top: 1px solid #CACACA;
}
.commonTable .tab-dl-title{
	background: #D9D9D9;
}
.common-product h3{
	font-size: 18px;
	color: #1F2641;
	line-height: 28px;
	clear: both;
	margin-bottom: 15px;
}
.common-product p{
	color: #535353;
	font-size: 14px;
	line-height: 22px;
}
.common-product h5{
	color: #FF9600;
	font-size: 16px;
	line-height: 26px;
}
p.hasSpandian{
	background: url(../images/solution/hasSpandian.gif) 0px 8px no-repeat;
	background-size: 6px 6px;
	text-indent: 14px;
}
p.hasSpan{
	overflow: hidden;
}
p.hasSpan span{
	background: url(../images/solution/hasSpandian.gif) 0px 8px no-repeat;
	background-size: 6px 6px;
	text-indent: 14px;
	display: block;
}
p.lineHeihgt24{
	line-height: 24px;
}
h3.hasMargin{
	margin-top: 30px;
}
p.hasMargin-p{
	margin-bottom: 10px;
}
h5.marginTop15{
	margin-top: 15px;
}
.ipad-part-4 img{
	margin-bottom: 15px;
}
.regulatory-part-1-img{
	margin-bottom: 120px;
}
.regulatory-part-2{
	background: #F5F4F4;
	position: relative;
}
.regulatory-part-2 .container{
	position: static;
}
.regulatory-part-2 .regulatory-part-2-left img{
	width: 60%;
}
.common-product .common-part-infro-half h5{
	line-height: 60px;
}
.common-product .common-part-infro-half img{
	margin: 0px 10px 0 0;
}
.regulatory-part-2-right h3.hasMargin{
	margin-top:0px;
	padding-top: 30px;
	margin-bottom: 15px; 
}
.common-part-infro-right{
	width: 70%;
	display: inline;
	float: left;
}
.regulatory-part-3 .common-part-3-right{
	margin-bottom: 40px;
}
.regulatory-part-4{
	padding: 40px 0;
	background: #F5F4F4;
	text-align: center;
}
.regulatory-part-4 .container{
	width: 90%;
	margin: 0 auto;
}
.colum-3{
	margin-top: 20px;
}
.colum-3 li{
	text-align: left;
}
.regulatory-part-5-img{
	max-width: 100%;
	margin: 40px 0;
}
.colum-4{
	margin-top: 20px;
}
.colum-4 li{
	margin-bottom: 20px;
}
.wantKnowMore{
	padding: 40px 0;
	background: #D5D6D8;
	text-align: center;
}
.wantKnowMore p{
	font-size: 18px;
	color: #1F2641;
	line-height: 36px;
	margin-bottom: 8px;
}
.wantKnowMore a{
	width: 90%;
	height: 40px;
	line-height: 40px;
	display: block;
	margin: 0 auto;
	color: #fff;
	border-radius: 4px;
	box-shadow: 4px 4px 4px #AFB0B2;
	font-size: 16px;
	background: #00AEFF;
	background: -moz-linear-gradient(top, #00AEFF 0%, #008EFF 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00AEFF), color-stop(100%,#008EFF));
	background: -webkit-linear-gradient(top, #00AEFF 0%,#008EFF 100%);
	background: -o-linear-gradient(top, #00AEFF 0%,#008EFF 100%);
	background: -ms-linear-gradient(top, #00AEFF 0%,#008EFF 100%);
	background: linear-gradient(to bottom, #00AEFF 0%,#008EFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AEFF', endColorstr='#008EFF',GradientType=0 );
}

.monit-part-2{
	padding: 0 0 10px;
}
.common-part-3 .monit-part-3-left{
	  padding: 35px 20px 0;
}
.common-part-3 .data-part-3-left{
	  padding: 35px 20px 0;
}



}

/**宽度大于768时候1280以上开始**/

@media (min-width: 768px)
{


.kuangn-product{
	min-width: 1280px;
	clear: both;
	*padding-top: 56px;
	_padding-top:0px;
}
/*导航*/
.kuangn-product-slide{
	background: #EBEBEB;
	position: relative;
}
.kuangn-product-bd{
	background: #D3D3D3;
	text-align: center;
	height: 66px;
}
.kuangn-product-slide a.navpre{
	display: none;
}
.kuangn-product-slide a.navnext{
	display: none;
}
.kuangn-product-bd ul{
	*width:240px;
}
.kuangn-product-bd li{
	display: inline-block;
	*display: inline;
	*float: left;
	*width: 80px;
}
.kuangn-product-bd li a{
	display:block;
	height: 64px;
	line-height: 64px;
	border-bottom: 2px solid #D3D3D3;
	font-size: 18px;
	color: #414A61;
	padding: 0 20px;
	*width: 80px;
	*padding: 0px;
}
.kuangn-product-bd li.on a{
	border-bottom: 2px solid #414A61;
}
.kuangn-product-sd li{
	display: inline;
	float: left;
	width: 1280px;
	text-align: center;
}
.kuangn-product-sd{
	text-align: center;
	width: 1280px;
	margin: 0 auto;
	height: 162px;
	overflow: hidden;
}
.kuangn-product-slide{
	overflow: hidden;
}
.kuangn-product-sd li dd{
	display: inline;
	float: left;
	width: 210px;
	margin: 0 15px;
}
.kuangn-product-sd li dd a{
	display: block;
	padding-bottom: 16px;
	opacity: 0.6;
	filter:alpha(opacity=60);
	position: relative;
	height: 146px;
}
.kuangn-product-sd li dd a:hover{
	opacity: 1;
	filter:alpha(opacity=100);
}
.kuangn-product-sd li dd a img{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}
.kuangn-product-sd li dd a p{
	position: absolute;
	left: 0px;
	bottom: 16px;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
	color: #414A61;
	width: 210px;
}
.kuangn-product-sd li dd a.active{
	opacity: 1;
	filter:alpha(opacity=100);
}
.kuangn-product-sd li dd a.active p{
	color: #E99430;
}
.kuangn-product-sd li dd a.active:after{
	content: '';
	display: block;
	width: 210px;
	height: 110px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background: url(../images/highlight.png) center center no-repeat;
}
.baohu{
	padding: 0 160px;
}
.jiance{
	padding: 0 400px;
}
.fangzhen{
	padding: 0 400px;
}

/*banner*/
.kuang-product-child-banner{
	height: 300px;
	background:#004A80 url(../images/solution/solution-banner.jpg) center top repeat;
	text-align: center;
	padding-top: 156px;
}
.kuang-product-child-banner h2{
	line-height: 60px;
	font-size: 32px;
	color: #FF8400;
	margin-bottom: 15px;
}
.kuang-product-child-banner h6{
	width: 730px;
	margin: 0 auto;
	font-size: 16px;
	color: #E4E4E4;
	line-height: 25px;
}
/*产品part*/
.common-part-1{
	background: #FFFFFF;
	text-align: center;
	padding: 50px 0;
}
.common-part-2{
	background: #EBEAEA;
	padding: 75px 0;
}
.common-part-2 .common-part-2-left{
	width: 574px;
	text-align: center;
	display: inline;
	float: left;
}
.common-part-2 .common-part-2-right{
	width: 706px;
	display: inline;
	float: left;
}
.common-part-3{
	background: #FFFFFF;
	padding: 50px 0;
}
.common-part-3 .common-part-3-left{
	display: inline;
	float: left;
	width: 550px;
	padding-left:100px;
	margin-right: 70px;
}
.common-part-3 .common-part-3-right{
	width: 560px;
	display: inline;
	float: left;
	text-align: center;
}
.common-part-4{
	background: #F3F3F3;
	padding: 50px 0;
	text-align: center;
}
.common-part-infro{
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
.common-product .common-part-infro h5{
	line-height: 36px;
}
.common-product .common-part-infro p{
	font-size: 16px;
	line-height: 24px;
}
.common-part-infro img{
	display: inline;
	float: left;
	margin:10px 15px 0 0;
}
.commonTable{
	padding: 5px 0px 78px;
	background: #EEEEEE;
}
.commonTable .container{
	width: 1200px;
	box-shadow: -3px -3px 4px #E9E9E9;
}
.commonTable dl{
	display: inline;
	float: left;
	width: 240px;
	background: #E9E9E9;
}
.commonTable dl dd{
	color: #535353;
	font-size: 14px;
	text-align: center;
	padding: 10px 0px;
	border-top: 1px solid #CACACA;
}
.commonTable .tab-dl-title{
	background: #D9D9D9;
}
.common-product h3{
	font-size: 24px;
	color: #1F2641;
	line-height: 48px;
	clear: both;
}
.common-product p{
	color: #535353;
	font-size: 16px;
	line-height: 34px;
}
.common-product h5{
	color: #FF9600;
	font-size: 21px;
	line-height: 32px;
}
p.hasSpandian{
	background: url(../images/solution/hasSpandian.gif) 0px 14px no-repeat;
	text-indent: 14px;
}
p.hasSpan{
	overflow: hidden;
}
p.hasSpan span{
	width: 260px;
	display: inline;
	float: left;
	background: url(../images/solution/hasSpandian.gif) 0px 14px no-repeat;
	text-indent: 14px;
}
p.lineHeihgt24{
	line-height: 24px;
}
h3.hasMargin{
	margin-top: 30px;
}
p.hasMargin-p{
	margin-bottom: 10px;
}
h5.marginTop15{
	margin-top: 15px;
}
.ipad-part-4 img{
	margin-bottom: 30px;
}
.monit-part-2-right .common-part-infro{
	width: 570px;
}
.data-part-2-right .common-part-infro{
	width: 590px;
}
.data-part-2-right p.width{
	width: 550px;
}
.ipad-part-4 , .data-part-4{
	background: #F5F5F5;
	background: -moz-linear-gradient(top, #F5F5F5 0%, #EEEEEE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#EEEEEE));
	background: -webkit-linear-gradient(top, #F5F5F5 0%,#EEEEEE 100%);
	background: -o-linear-gradient(top, #F5F5F5 0%,#EEEEEE 100%);
	background: -ms-linear-gradient(top, #F5F5F5 0%,#EEEEEE 100%);
	background: linear-gradient(to bottom, #F5F5F5 0%,#EEEEEE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#EEEEEE',GradientType=0 );
}
.iad-part-2-right p.width{
	width: 530px;
}
.iad-part-3-left .common-part-infro{
	margin-top: 10px;
}
.common-part-infro-else-1 .common-part-infro-right p{
	padding-top: 15px;
}
.common-part-infro-else-2 .common-part-infro-right p{
	padding-top: 28px;
}
.regulatory-part-1-img{
	margin-bottom: 120px;
}
.regulatory-part-2{
	background: #F5F4F4;
	position: relative;
}
.regulatory-part-2 .container{
	position: static;
}
.regulatory-part-2 .regulatory-part-2-left{
	position: absolute;
	left: 0px;
	top: 200px;
	padding-left: 0px;
}
.regulatory-part-2 .regulatory-part-2-right{
	float: right;
}
.monit-part-3 .monit-part-3-right{
	float: right;
}
.data-part-3 .data-part-3-right{
	float: right;
}
.ipad-part-3 .iad-part-3-right{
	display: inline;
	float: right;
}
.common-part-infro-half{
	width: 270px;
	float: left;
	clear: none;
}
.common-product .common-part-infro-half h5{
	line-height: 60px;
}
.common-product .common-part-infro-half img{
	margin: 0px 10px 0 0;
}
.regulatory-part-2-right h3.hasMargin{
	margin-top:0px;
	padding-top: 30px;
	margin-bottom: 15px; 
}
.common-part-infro-right{
	width: 430px;
	display: inline;
	float: left;
}
.regulatory-part-3 .common-part-3-right{
	margin-top: 140px;
	float: right;
}
.regulatory-part-4{
	padding: 40px 0;
	background: #F5F4F4;
	text-align: center;
}
.regulatory-part-4 li{
	display: inline;
	float: left;
}
.regulatory-part-4 li img{
	margin-bottom: 10px;
}
.regulatory-part-4 li p{
	line-height: 25px;
	margin-top: 10px;
}
.colum-3{
	margin-top: 20px;
}
.colum-3 li{
	width: 336px;
	padding-left: 90px;
	text-align: left;
}
.regulatory-part-5-img{
	margin: 50px 0;
}
.colum-4{
	margin-top: 20px;
}
.colum-4 li{
	width: 240px;
	padding: 0 40px;
}
.wantKnowMore{
	padding: 40px 0;
	background: #D5D6D8;
	text-align: center;
}
.wantKnowMore p{
	font-size: 18px;
	color: #1F2641;
	line-height: 36px;
	margin-bottom: 8px;
}
.wantKnowMore a{
	width: 200px;
	height: 40px;
	line-height: 40px;
	display: block;
	margin: 0 auto;
	color: #fff;
	border-radius: 4px;
	box-shadow: 4px 4px 4px #AFB0B2;
	font-size: 16px;
	background: #00AEFF;
	background: -moz-linear-gradient(top,  #3EC2FF 0%, #008EFF 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3EC2FF), color-stop(100%,#008EFF)); 
    background: -webkit-linear-gradient(top,  #3EC2FF 0%,#008EFF 100%);
    background: -o-linear-gradient(top,  #3EC2FF 0%,#008EFF 100%);
    background: -ms-linear-gradient(top,  #3EC2FF 0%,#008EFF 100%);
    background: linear-gradient(to bottom,  #3EC2FF 0%,#008EFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3EC2FF', endColorstr='#008EFF',GradientType=0 );
}
.wantKnowMore a:hover{
	background: -moz-linear-gradient(top, #00AEFF 0%, #008EFF 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00AEFF), color-stop(100%,#008EFF));
	background: -webkit-linear-gradient(top, #00AEFF 0%,#008EFF 100%);
	background: -o-linear-gradient(top, #00AEFF 0%,#008EFF 100%);
	background: -ms-linear-gradient(top, #00AEFF 0%,#008EFF 100%);
	background: linear-gradient(to bottom, #00AEFF 0%,#008EFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AEFF', endColorstr='#008EFF',GradientType=0 );
}



}


